@import "compass/css3";

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
/*portfolio*/
figure.snip1478 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 100%x;
  max-width: 100%;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
    height: 10em
}
figure.snip1478 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}
figure.snip1478 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1478 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(-10%, -30%);
  transform: translate(-10%, -30%);
}
figure.snip1478 h2,
figure.snip1478 h4 {
  margin: 0;
}
figure.snip1478 h2 {
  font-weight: 600;
}
figure.snip1478 h4 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1478 i {
  font-size: 32px;
}
figure.snip1478:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotate3d(-1, -1, 0, 100deg);
  transform: rotate3d(-1, -1, 0, 100deg);
  opacity: 0;
}
figure.snip1478 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1478:hover figcaption,
figure.snip1478.hover figcaption {
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1478:hover:after,
figure.snip1478.hover:after {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 0.9;
}
body {
  background-color: #212121;
}
/*end of portfolio*/


/*Landing page*/


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #f1f1f1;
  color: #fff;
  font: 300 1rem/1.5 Lato, sans-serif;
  margin: 0;
  min-height: 100%;
     background-image: url(../img/hi_tech_texture-wallpaper-1920x1080.jpg);
     background-repeat: no-repeat;
    background-attachment: fixed;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.align__item--start {
  align-self: flex-start;
}
.align__item--end {
  align-self: flex-end;
}

.animation {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.animation--infinite {
  animation-iteration-count: infinite;
}
.animation--up-down {
  animation-name: upDown;
}

@keyframes upDown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.text--center {
  text-align: center;
}

.site__header {
  left: 0;
  padding: 3rem 0;
  position: fixed;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 1;
}
.site__logo {
  float: left;
}

.site__section {
  min-height: 100vh;
  position: relative;
}
.site__section--start {

}

.button {
  display: inline-block;
  padding: .5rem 1rem;
}
.button--primary {
  background-color: #ce3d90;
}
.button--rounded {
  border-radius: 999px;
}
.button--scroll {
  bottom: 2rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.grid {
  margin: 0 auto;
  max-width: 74rem;
  width: 90%;
}
.grid:before, .grid:after {
  content: ' ';
  display: table;
}
.grid:after {
  clear: both;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 .5rem;
  text-transform: uppercase;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #fff;
  text-decoration: none;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  display: block;
}
.navigation--inline > ul:before, .navigation--inline > ul:after {
  content: ' ';
  display: table;
}
.navigation--inline > ul:after {
  clear: both;
}
.navigation--inline > ul > li {
  float: left;
}
.navigation--main {
  float: right;
  text-transform: uppercase;
}
.navigation--main > ul {
  margin: 0 -2rem;
}
.navigation--main > ul > li {
  margin: 0 2rem;
}
.navigation--main a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/*end of landing page*/

.about {
    align-content: center;
    background-color: black;
    color: white;
    text-align: center;
}

#drone {
    background-color: black
}

#contact{
    align-content: center;
   text-align: center;
    margin: 0 auto;
    background-color: aliceblue
}
